*{
	padding: 0;
	margin: 0;
}

body{

	background: linear-gradient(to right, white 0%, white 25%, #EDEAE0 25%, #EDEAE0 100%);
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



	nav{

	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	padding-left: 3em;
	padding-right: 3em;
	align-content: center;
	

	
	
}

nav ul{

	margin-left: 2em;
	margin-top: 10px;
}

nav ul li{

	display: inline-block;
	list-style: none;
	margin-right: 3em;


}

nav a{

	color: #848482;
	text-decoration: none;
	

}

nav a:hover{

	color: black;
	transition: 0.1s ease;
	font-weight: bold;
}

nav label{

	font-size: 28px;
	font-weight: bold;
}

#check{

	display: none;
}

.checkbtn{

	display: none;
}

.icons-list{

	display: none;
}
h6{

	display: none;
}

.checkbtn1{

	display: none;
}
.icons i{

	margin-right: 10px;
	margin-top: 10px;
	
}

section{

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 7em;
	padding-right: 10em;
}

.text{

	margin-top: 50px;
	padding-right: 8em;
}


.text-row1 label{

			font-size: 32px;
}

.text-row1 span{

	font-size: 18px;
}

.price{

	margin-top: 20px;
	width: 50%;

}

.price a{

	background: linear-gradient(to right, white 0%, white 34%, black 34%, black 100%);
	padding: 10px;
	color: black;
	text-decoration: none;
	border: 1px solid black;
}

.price span{

	color: white;
}

img{

	width: 25em;

}

.details{

	display: flex;
	column-gap: 30px;
	margin-top: 90px;


}

.details p{

	margin-right: 40px;
	font-weight: bold;
}

.details label{

		font-weight: lighter;
}

@media(max-width: 1100px){

	body{

		background: linear-gradient(to right, white 0%, white 25%, #EDEAE0 25%, #EDEAE0 100%);
	}

	section{

		padding-top: 20px;
		padding-left: 0.1em;
	}

	.text{

	margin-top: 50px;
	padding-right: 0.1em;
}
}

@media(max-width: 953px){

		.icons{

			display: none;
		}
		#check{

		display: none;
	}

	.checkbtn{

		display: block;
	}

	.icons-list{

		display: block;
		margin-top: 20px;
	}

	

	ul{

			position: fixed;
			width: 50%;
			height: 109vh;
			background: white;
			top: -10px;
			right: -100%;
			text-align: left;
			transition: .05s ease;
			padding-top: 20px;
		}

		nav ul li{

			display: block;
			
			padding-left: 1em;
			margin-top: 25px;

		}

		ul i{

			float: right;
			padding-right: 10px;
			font-size: 22px;
		}

		h6{

			color: #848482 ;
			font-size: 16px;
			letter-spacing: 2px;
			font-weight: lighter;
			margin-top: 17em;
			text-align: center;
		}

		#check:checked ~ ul{

			right: 0;
		}


	.icons{

		margin-left: 33em;
		margin-top: 8px;
	}

	.icons i{

	margin-right: 25px;

}

section{


	display: grid;
	align-items: center;
	justify-content: center;
	align-content: center;
	padding-left: 6em;
	padding-bottom: 5em;
}

.text{

	
	padding-left: 7em;
}

}

@media(max-width: 672px){

	section{

		padding-left: 2em;
	}

	

	.price a{

	background: linear-gradient(to right, white 0%, white 34%, black 34%, black 100%);
	padding: 5px;
	color: black;
	text-decoration: none;
	border: 1px solid black;
	font-size: 14px;
	}

	.price span{

	color: white;
	font-size: 14px;
	}





}





